<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852829412127-fh6bt7b8h05nmutt8to2h9kvnsg5pk9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852829412127-fh6bt7b8h05nmutt8to2h9kvnsg5pk9v</string>
	<key>API_KEY</key>
	<string>AIzaSyCCHr7x0Fy3FpLlCdss-ZA_ymGGX3GQvzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>852829412127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>projet-2cp-1539a</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-2cp-1539a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852829412127:ios:a12717e2330ccc08036e2a</string>
</dict>
</plist>